.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 290px);
	row-gap: 2.5em;
	justify-content: space-evenly;
	padding: 3em;
}

.note,
.newNote {
	width: 290px;
	height: 270px;
	background-color: #fff;
	color: #474747;
	border-radius: 20px;
	padding: 20px 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.newNote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	color: #927ad7;
	cursor: pointer;
}

.newNote p {
	font-size: 17px;
}

.addIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85px;
	height: 85px;
	border: 2px dashed #927ad7;
	border-radius: 50%;
	font-size: 34px;
}

.note {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.note h2 {
	font-size: 24px;
	font-weight: 500;
}

.note p {
	display: block;
	font-size: 17px;
	word-wrap: break-word;
	color: #575757;
	margin-top: 5px;
}

.additionally {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

.additionally {
	color: #6c6c6c;
}

.additionally p {
	font-size: 14px;
}

.options {
	position: relative;
}

.options:hover .menu {
	transform: scale(1);
}

.options i {
	font-size: 17px;
	cursor: pointer;
}

.menu {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 0.7em;
	width: max-content;
	background-color: #fff;
	border-radius: 12px;
	padding: 12px 20px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	transform: scale(0);
	transform-origin: top left;
	transition: all 0.2s ease;
}

.menuItem {
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.menuItem:hover {
	color: #171717;
}

.menuItem i {
	margin-right: 0.5em;
}
